*{
    margin: 0px;
    padding:  0px;
    box-sizing: border-box;
}

.wrapper{
    min-width: 1200px;
    height: auto;
    /* position: relative; */
    background-color: gray
}

.container{
    min-width: 70%;
    margin: 20px 20px;
}

.row{
    width: 100%;
    display: flex;
    margin-bottom: 10px;

}

/* card start */
.card{
    background-color: #fff;
    width: 25%;
    margin: 0px 5px;
    position: relative;
    transition: all .5s ease-in;
}


.card:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0,0,0,0.5);
}





/* card header section */
.card_header{
    display: flex;
}

.card_header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 5px;
    border: 5px solid #1D1D1D;
    margin-top: 20px
}

.card_text{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    justify-content: center;
}
.card_header .card_text h2{

}

.card_header .card_text p{
    color: #131111;
    font-size: 18px;
}

/* card body section */

.card_header, .card_body{
    margin-left: 20px;
    margin-right: 5px;
}

.card_body h1{
    padding: 5px;
    margin-top: 10px;
}

.card_body p{
    font-size: 18px;
    padding: 5px;
}



/* Card footer section */

.card_footer{
    display: flex;
    justify-content: center;
    border-top: 1px solid #beb5b5;
    padding: 8px 6px;
    background-color: #f1e9e9;
}

.card_footer .card_footer_icon{
    width: 10%;
}

.card_footer .card_footer_icon i{
    color: gray;
    display: flex;
    justify-content: center;
    cursor: pointer;
}


.card_footer .card_footer_text{
    width: 90%;
    color: gray;
}

.card_footer .card_footer_text p{
    text-align: center;
}